{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Notre livre, notre média{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'librarians/css/style.css' %}">
</head>
<body>
{% include 'librarians/header.html' %}
{% include 'librarians/quick_menu.html' %}

<main>
    {% block content %}
    {% endblock %}
</main>

{% include 'librarians/footer.html' %}
<script src="{% static 'librarians/js/update_member.js' %}"></script>
<script src="{% static 'librarians/js/add_media.js' %}"></script>
</body>
</html>