<main>
  <div class="create-loan-container">
    <div class="content-create-loan-container">
      <h1 class="create-loan-heading">Créer un emprunt</h1>
      <div class="select-member-container">
        <h2 class="select-member-heading">Sélectionnez un membre :</h2>
        <form action="" method="post" class="select-member-form">
          <!-- Ceci est un exemple de ce à quoi un élément de la liste doit ressembler -->
          <label for="member-name" class="member-name-label">
            <span class="first-name">Prénom </span>
            <span class="last-name">Nom</span>
          </label>
          <input type="checkbox" name="member-name" id="member-name" />
        </form>
      </div>
      <div class="select-media-container">
        <h2 class="select-media-heading">Sélectionnez un média :</h2>
        <form action="" method="post" class="select-media-form">
          <!-- Ceci est un exemple de ce à quoi un élément de la liste doit ressembler -->
          <label for="media-name" class="media-name-label">
            <span class="media-name">Nom du média </span>
            <span class="media-type">Type du média</span>
          </label>
          <input type="checkbox" name="media-name" id="media-name" />
        </form>
      </div>
      <div class="submit-btn-container">
        <input type="submit" value="Créer" class="submit-btn" />
      </div>
    </div>
  </div>
</main>
