<main>
  <div class="display-medias-container">
    <div class="content-display-medias-container">
      <h1 class="media-list-heading">Liste médias</h1>
      <div class="media-list">
        <!-- Ceci est un exemple de ce à quoi un élément de la liste doit ressembler -->
        <div class="media">
          <span class="media-name">Nom du média</span>
          <span class="media-type">Type du média</span>
          <span class="quantity">0</span>
        </div>
      </div>
    </div>
  </div>
</main>
