<main>
  <div class="display-members-container">
    <div class="content-display-members-container">
      <h1 class="member-list-heading">Liste membres</h1>
      <div class="member-list">
        <!-- Ceci est un exemple de ce à quoi un élément de la liste doit ressembler -->
        <div class="member">
          <span class="first-name">Prénom</span>
          <span class="last-name">Nom</span>
          <span class="date-of-birth">01/01/2000</span>
          <span class="place-of-birth">Paris</span>
          <span class="city-of-residence">Paris</span>
          <span class="phone-number">0606060606</span>
          <span class="e-mail">prénom.nom@gmail.com</span>
        </div>
      </div>
    </div>
  </div>
</main>
