<main>
  <div class="return-loan-container">
    <div class="content-return-loan-container">
      <h1 class="return-loan-heading">Rentrer un emprunt</h1>
      <form action="" method="post" class="select-loan-form">
        <!-- Ceci est un exemple de ce à quoi un élément du tableau doit ressembler -->
        <label for="info-loan" class="info-loan">
          <span class="loan-id">1 </span>
          <span class="first-name">Prénom </span>
          <span class="last-name">Nom </span>
          <span class="media-name">Nom du média </span>
          <span class="media-type">Type du média</span>
        </label>
        <input type="checkbox" name="info-loan" id="info-loan" />
      </form>
      <div class="submit-btn-container">
        <input type="submit" value="Rentrer" class="submit-btn" />
      </div>
    </div>
  </div>
</main>
