<main>
    <div class="add-media-container">
        <div class="content-add-media-container">
            <h1 class="add-media-heading">Ajouter un média</h1>
        </div>
        <form action="" method="post" class="add-media-form">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if message.tags %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            <div class="media-name-input-container">
                <label for="media-name" class="media-name">Nom : </label>
                <input type="text" id="media-name" name="media-name" class="media-name-input">
            </div>
            <div class="media-type-input-container">
                <label for="book-type" class="media-type">
                    <span class="book-type">Livre</span>
                </label>
                <input type="radio" id="book-type" name=book-type" class="media-type-input">
                <label for="cd-type" class="media-type">
                    <span class="book-type">CD</span>
                </label>
                <input type="radio" id="cd-type" name=cd-type" class="media-type-input">
                <label for="board-game-type" class="media-type">
                    <span class="book-type">Jeu de plateau</span>
                </label>
                <input type="radio" id="board-game-type" name=board-game-type" class="media-type-input">
                <label for="dvd-type" class="media-type">
                    <span class="book-type">DVD</span>
                </label>
                <input type="radio" id="dvd-type" name=book-type" class="media-type-input">
            </div>
            <div class="quantity-input-container">
                <label for="media-quantity" class="media-quantity">Quantité : </label>
                <input type="text" id="media-quantity" name="media-quantity" class="media-quantity-input">
            </div>
            <input type="submit" value="Ajouter" class="submit-btn">
        </form>
    </div>
</main>