<main>
    <div class="create-borrowing-container">
        <div class="content-create-borrowing-container">
            <h1 class="create-borrowing-heading">Créer un emprunt</h1>
            <form action="" method="post">  <!-- Enveloppez tout le contenu dans un formulaire -->
                {% csrf_token %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    {% if message.tags %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="select-member-container">
                    <h2 class="select-member-heading">Sélectionnez un membre :</h2>
                    {% for member in members_list %}
                    <label for="member-name-{{ member.id }}" class="member-name-label">
                        <span class="first-name">{{ member.user.first_name }}</span>
                        <span class="last-name">{{ member.user.last_name }}</span>
                    </label>
                    <input type="radio" name="member_id" id="member-name-{{ member.id }}" value="{{ member.id }}"
                           required/>
                    {% empty %}
                    <p>Il n'y a actuellement aucun membre.</p>
                    {% endfor %}
                </div>

                <div class="select-media-container">
                    <h2 class="select-media-heading">Sélectionnez un média :</h2>

                    <h3>Livres</h3>
                    {% for book in books_list %}
                        <label for="media-name-{{ book.id }}" class="media-name-label">
                            <span class="media-name">{{ book.name }}</span>
                            <span class="media-creator">{{ book.author }}</span>
                            <span class="media-type">Livre</span>
                        </label>
                        <input type="checkbox" name="media_ids" id="media-name-{{ book.id }}" value="{{ book.id }}"/>
                    {% empty %}
                        <p>Aucun livre disponible.</p>
                    {% endfor %}

                    <h3>CD</h3>
                    {% for cd in cds_list %}
                        <label for="media-name-{{ cd.id }}" class="media-name-label">
                            <span class="media-name">{{ cd.name }}</span>
                            <span class="media-creator">{{ cd.artist }}</span>
                            <span class="media-type">CD</span>
                        </label>
                        <input type="checkbox" name="media_ids" id="media-name-{{ cd.id }}" value="{{ cd.id }}"/>
                    {% empty %}
                        <p>Aucun CD disponible.</p>
                    {% endfor %}

                    <h3>Jeux de plateau</h3>
                    <p class="info-board_games">Les jeux de plateau ne sont pas disponible à l'emprunt</p>
                    {% for board_game in board_games_list %}
                        <label for="media-name-{{ board_game.id }}" class="media-name-label">
                            <span class="media-name">{{ board_game.name }}</span>
                            <span class="media-creator">{{ board_game.creator }}</span>
                            <span class="media-type">Jeu de plateau</span>
                        </label>
                        <input type="checkbox" name="media_ids" id="media-name-{{ board_game.id }}" value="{{ board_game.id }}" disabled/>
                    {% empty %}
                        <p>Aucun jeu de plateau disponible.</p>
                    {% endfor %}

                    <h3>DVD</h3>
                    {% for dvd in dvds_list %}
                        <label for="media-name-{{ dvd.id }}" class="media-name-label">
                            <span class="media-name">{{ dvd.name }}</span>
                            <span class="media-creator">{{ dvd.director }}</span>
                            <span class="media-type">DVD</span>
                        </label>
                        <input type="checkbox" name="media_ids" id="media-name-{{ dvd.id }}" value="{{ dvd.id }}"/>
                    {% empty %}
                        <p>Aucun DVD disponible.</p>
                    {% endfor %}
                </div>

                <div class="submit-btn-container">
                    <input type="submit" value="Créer" class="submit-btn"/>
                </div>
            </form>
        </div>
    </div>
</main>