<main>
  <div class="display-medias-container">
    <div class="content-display-medias-container">
      <h1 class="media-list-heading">Liste médias</h1>
      <div class="media-list">
        {% for media in medias_list %}
        <div class="media">
          <span class="media-name">{{ media.name }}</span>
          <span class="media-type">{{ media.type }}</span>
          <span class="quantity">{{ media.quantity }}</span>
        </div>
        {% empty %}
        <p>Aucun média trouvé.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
