<main>
  <div class="lists-container">
    <div class="lists">
      <div class="content-members-list-container">
        <h1 class="members-list-heading">Liste membres</h1>
        <div class="members-list-container">
          <ul class="members-list">
            {% for member in members_list %}
            <li class="member-name">
              <span class="first-name">{{ member.user.first_name }}</span>
              <span class="last-name">{{ member.user.last_name }}</span>
              <span class="borrowings-numbers">{{ member.borrowings_number }}</span>
            </li>
            {% empty %}
            <li>Aucun membre trouvé.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="content-media-list-container">
        <h1 class="media-list-heading">Liste médias</h1>
        <div class="media-list-container">
          <ul class="media-list">
            {% for media in medias_list %}
            <li class="media">
              <span class="media-name">{{ media.name }}</span>
              <span class="media-type">{{ media.type }}</span>
              <span class="quantity">{{ media.quantity }}</span>
            </li>
            {% empty %}
            <li>Aucun média trouvé.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
