<div class="quick-menu-container">
  <div class="q-m-heading-container">
    <h1 class="q-m-heading">Menu rapide</h1>
  </div>
  <div class="q-m-nav-container">
    <nav class="q-m-nav">
      <a href="" class="q-m-create-loan-link">
        <div class="q-m-create-loan">Créer un emprunt</div>
      </a>
      <a href="" class="q-m-create-member-link">
        <div class="q-m-create-member">Créer un membre</div>
      </a>
      <a href="" class="q-m-add-media-link">
        <div class="q-m-add-media">Ajouter un média</div>
      </a>
    </nav>
  </div>
</div>
