<main>
    <div class="update-member-container">
        <div class="content-update-member-container">
            <h1
                    class="update-member-heading"
                    id="update-member"
                    onclick="focusSelect()"
            >
                Mettre à jour
            </h1>
            <form action="" method="post" class="update-member-form">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    {% if message.tags %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% csrf_token %}
                <select name="member" id="update-member-select" onchange="updateMemberInfo()">
                    <option value="">Sélectionnez un membre</option>
                    {% for member in members_list %}
                    <option
                            value="{{ member.id }}"
                            data-last-name="{{ member.user.last_name }}"
                            data-first-name="{{ member.user.first_name }}"
                            data-date-of-birth="{{ member.date_of_birth }}"
                            data-place-of-birth="{{ member.place_of_birth }}"
                            data-city-of-residence="{{ member.city_of_residence }}"
                            data-phone-number="{{ member.phone_number }}"
                            data-email="{{ member.user.email }}">
                        {{ member.user }}
                    </option>
                    {% endfor %}
                </select>
                <input type="hidden" id="member-id" name="member-id">
                <div class="member-last-name-input-container">
                    <label for="last-name" class="last-name">Nom : </label>
                    <input type="text" id="last-name" class="last-name-input" name="last-name">
                </div>
                <div class="member-first-name-input-container">
                    <label for="first-name" class="first-name">Prénom : </label>
                    <input type="text" id="first-name" class="first-name-input" name="first-name">
                </div>
                <div class="date-of-birth-input-container">
                    <label for="date-of-birth" class="date-of-birth">Date de naissance : </label>
                    <input type="text" id="date-of-birth" class="date-of-birth-input" name="date-of-birth">
                </div>
                <div class="place-of-birth-input-container">
                    <label for="place-of-birth" class="place-of-birth">Lieu de naissance : </label>
                    <input type="text" id="place-of-birth" class="place-of-birth-input" name="place-of-birth">
                </div>
                <div class="city-of-residence-input-container">
                    <label for="city-of-residence" class="city-of-residence">Ville de résidence : </label>
                    <input type="text" id="city-of-residence" class="city-of-residence-input" name="city-of-residence">
                </div>
                <div class="phone-number-input-container">
                    <label for="phone-number" class="phone-number">Numéro de téléphone : </label>
                    <input type="text" id="phone-number" class="phone-number-input" name="phone-number">
                </div>
                <div class="e-mail-input-container">
                    <label for="e-mail" class="e-mail">Adresse mail : </label>
                    <input type="text" id="e-mail" class="e-mail-input" name="e-mail">
                </div>
                <input type="submit" value="Valider" class="submit-btn">
            </form>
        </div>
    </div>
</main>

<script>
    function updateMemberInfo() {
      const select = document.getElementById("update-member-select");
      const selectedOption = select.options[select.selectedIndex];

      const lastNameInput = document.getElementById("last-name");
      const firstNameInput = document.getElementById("first-name");
      const dateOfBirthInput = document.getElementById("date-of-birth");
      const placeOfBirthInput = document.getElementById("place-of-birth");
      const cityOfResidenceInput = document.getElementById("city-of-residence");
      const phoneNumberInput = document.getElementById("phone-number");
      const emailInput = document.getElementById("e-mail");
      const memberIdInput = document.getElementById("member-id");

      lastNameInput.value = selectedOption.getAttribute("data-last-name") || "";
      firstNameInput.value = selectedOption.getAttribute("data-first-name") || "";
      dateOfBirthInput.value = selectedOption.getAttribute("data-date-of-birth") || "";
      placeOfBirthInput.value = selectedOption.getAttribute("data-place-of-birth") || "";
      cityOfResidenceInput.value = selectedOption.getAttribute("data-city-of-residence") || "";
      phoneNumberInput.value = selectedOption.getAttribute("data-phone-number") || "";
      emailInput.value = selectedOption.getAttribute("data-email") || "";
      memberIdInput.value = selectedOption.getAttribute("value") || "";
    }
</script>