<main>
  <div class="update-member-container">
    <div class="content-update-member-container">
      <h1
        class="update-member-heading"
        id="update-member"
        onclick="focusSelect()"
      >
        Mettre à jour
      </h1>
      <!-- À la sélection d'un membre, ses informations devront s'afficher dynamiquement -->
      <form action="" method="post" class="update-member-form">
        <select name="member" id="update-member-select">
          <option value="membre1">Membre 1</option>
          <option value="membre2">Membre 2</option>
          <option value="membre3">Membre 3</option>
          <option value="membre4">Membre 4</option>
        </select>
        <!-- Ceci représente un exemple de membre -->
        <div class="info-member">
            <div class="member-last-name-input-container">
                <label for="last-name" class="last-name">Nom : </label>
                <input type="text" id="last-name" class="last-name-input" value="Doe">
            </div>
            <div class="member-first-name-input-container">
                <label for="first-name" class="first-name">Prénom : </label>
                <input type="text" id="first-name" class="first-name-input" value="John">
            </div>
            <div class="date-of-birth-input-container">
                <label for="date-of-birth" class="date-of-birth">Date de naissance : </label>
                <input type="text" id="date-of-birth" class="date-of-birth-input" value="01/01/2000">
            </div>
            <div class="place-of-birth-input-container">
                <label for="place-of-birth" class="place-of-birth">Lieu de naissance : </label>
                <input type="text" id="place-of-birth" class="place-of-birth-input"  value="Paris">
            </div>
            <div class="city-of-residence-input-container">
                <label for="city-of-residence" class="city-of-residence">Ville de résidence : </label>
                <input type="text" id="city-of-residence" class="city-of-residence-input"  value="Paris">
            </div>
            <div class="phone-number-input-container">
                <label for="phone-number" class="phone-number">Numéro de téléphone : </label>
                <input type="text" id="phone-number" class="phone-number-input"  value="0606060606">
            </div>
            <div class="e-mail-input-container">
                <label for="e-mail" class="e-mail">Adresse mail : </label>
                <input type="text" id="e-mail" class="e-mail-input"  value="john.doe@gmail.com">
            </div>
        </div>
      </form>
      <input type="submit" value="Valider" class="submit-btn">
    </div>
  </div>
</main>
